.badge {
  display: inline-flex;
  align-items: center;
  border-radius: 0.375rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  white-space: nowrap;
}

.badge-gray {
  background: rgb(243 244 246);
  color: rgb(75 85 99);
}

.badge-red {
  background: rgb(254 226 226);
  color: rgb(185 28 28);
}

.badge-yellow {
  background: rgb(254 249 195);
  color: rgb(133 77 14);
}

.badge-green {
  background: rgb(220 252 231);
  color: rgb(21 128 61);
}

.badge-blue {
  background: rgb(219 234 254);
  color: rgb(29 78 216);
}

.badge-indigo {
  background: rgb(224 231 255);
  color: rgb(67 56 202);
}

.badge-purple {
  background: rgb(243 232 255);
  color: rgb(126 34 206);
}

.badge-pink {
  background: rgb(252 231 243);
  color: rgb(190 24 93);
}

@media (prefers-color-scheme: dark) {
  .badge-gray {
    background: rgb(156 163 175 / 0.1);
    color: rgb(156 163 175);
  }

  .badge-red {
    background: rgb(248 113 113 / 0.1);
    color: rgb(248 113 113);
  }

  .badge-yellow {
    background: rgb(250 204 21 / 0.1);
    color: rgb(234 179 8);
  }

  .badge-green {
    background: rgb(74 222 128 / 0.1);
    color: rgb(74 222 128);
  }

  .badge-blue {
    background: rgb(96 165 250 / 0.1);
    color: rgb(96 165 250);
  }

  .badge-indigo {
    background: rgb(129 140 248 / 0.1);
    color: rgb(129 140 248);
  }

  .badge-purple {
    background: rgb(192 132 252 / 0.1);
    color: rgb(192 132 252);
  }

  .badge-pink {
    background: rgb(244 114 182 / 0.1);
    color: rgb(244 114 182);
  }
}
